.team{
    width: 300px;
    border: 1px solid darkgray;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color: lightblue;
    box-sizing: border-box;
}

.borderbox{
    box-sizing: border-box;
}

.contentbox{
    box-sizing: content-box;
}