body{
    font-family: Arial, Helvetica, sans-serif;
    color: #263854;
    border: 2px solid #249ada;
    padding: 20px;
}
h1,
h2,
p{
    border: 2px solid orange;
    padding: 15px;
    line-height: 25px;
}
li{
    border: 2px solid #d84709;
}
i,
a,
a:hover,
a:visited{
    color: #263854;
    padding: 1px;
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 0 10px;
}

ul>li{
    padding: 10px;
    background-color: #eee;
    margin: 0px 10px 10px 0px;
    list-style: none;
}